<ion-tabs>

    <ion-tab-bar slot="bottom">
        <!--// add list to directions-->
        <ion-tab-button tab="tab1">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Add direction to list</ion-label>
        </ion-tab-button>
        <!--// map-->
        <ion-tab-button tab="tab2">
            <ion-icon name="navigate-outline"></ion-icon>
            <ion-label>Delivery map</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
