<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Delivery map
        </ion-title>
        <ion-button slot="end" expand="full" color="secondary" (click)="clickGoToDelivery()">
            GO
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>

    <div #mapElement id="mapElement" class="map"></div>
</ion-content>
