<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Add direction to list
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="content-container-search">
        <div [formGroup]="formSearch">
            <ion-searchbar id="searchPlace" type="text"
                           formControlName="name"
                           (ionInput)="inputChange(container, $event.target.value)"
                           placeholder="please write you navigation point"></ion-searchbar>
        </div>
        <ion-button color="medium" expand="full" shape="round" size="default" fill="solid"
                    (click)="clickAddDeliveryPositionToList()">
            Add
        </ion-button>
    </div>
    <div class="content-container" *ngIf="currentPosition">
        <ion-card>
            <ion-card-header>
                <ion-card-title><u>Current position</u></ion-card-title>
                <ion-card-subtitle>address:</ion-card-subtitle>
                <ion-card-title>{{currentPosition.address}}</ion-card-title>
            </ion-card-header>
        </ion-card>
    </div>
    <div *ngIf="listDeliverPositions.length <= 0">
        <ion-label color="medium">Yoy not have a delivery points</ion-label>
    </div>
    <div *ngIf="listDeliverPositions.length > 0 && currentPosition">
        <div class="content-container" *ngFor="let point of listDeliverPositions; index as i">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Delivery point: {{i + 1}}
                        <ion-icon *ngIf="point.isComplete" name="checkmark-outline"></ion-icon>
                    </ion-card-title>
                    <ion-card-subtitle>address:</ion-card-subtitle>
                    <ion-card-title>{{point.address}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div class="delivery-info">
                        <div class="big-info">
                            <ion-label>Delivery distance: {{point.distance ? point.distance.value + ' m ' : ''}}</ion-label>
                            <ion-label>{{point.distance ? point.distance.text : ''}}</ion-label>
                        </div>
                        <div class="line"></div>
                        <div class="big-info">
                            <ion-label>Delivery duration: {{point.duration ? point.duration.value + ' sec ' : ''}}</ion-label>
                            <ion-label> {{ point.duration ? point.duration.text : ''}}</ion-label>
                        </div>

                    </div>
                    <ion-buttons>
                        <ion-button fill="solid" color="warning" shape="round" (click)="clickRemovePosition(point.plce_id)">
                            remove
                        </ion-button>
                    </ion-buttons>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
    <div #container class="content-container-helper" [style.display]="listPlaces.length > 0 ? 'flex' : 'none'">
        <ion-list lines="full">
            <ion-item *ngFor="let item of listPlaces">
                <ion-button fill="clear" (click)="clickSelectItem(item.description, container)">
                    <ion-icon name="add-outline"></ion-icon>
                    <ion-label>{{item.description}}</ion-label>
                </ion-button>
            </ion-item>
        </ion-list>
    </div>

</ion-content>
