ion-content {
  --background: #f5c700;
}

.content-container-search {
  ion-button {
    margin-left: .5rem;
    margin-right: .5rem;
  }
}


.content-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;

  div {
    display: flex;
    flex-grow: 1;

    ion-input {
      border: 1px solid #000000;
      border-radius: 10px;
    }
  }

  ion-card {
    padding: 1rem;

    ion-card-header {
      ion-card-title {
        ion-icon {
          color: #2dd36f;
        }
      }
    }

    ion-card-content {
      .delivery-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .big-info {
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          justify-content: space-between;
        }

        ion-label {
          padding-top: .5rem;
          padding-bottom: .5rem;
        }

        .line {
          display: flex;
          flex-grow: 1;
          border-top: 1px solid silver;
        }
      }
    }

    ion-card-header, ion-card-content {
      border-left: 2px solid #000000;
    }
  }


}

.hide {
  visibility: hidden;
}

.content-container-helper {
  position: absolute;
  top: 7rem;
  z-index: 99;
  width: 100%;
  max-height: 30vh;
  padding: .5rem;

  ion-list {
    width: 100%;
    overflow: scroll;
    overflow-y: inherit;
    overflow-x: hidden;
  }
}

.content-list-container {
  padding: 1rem;

  ion-list {
    border: 1px solid #000000;
    border-radius: 10px;
    min-height: 50vh;
  }
}
